
#index {
    min-height: 500px;
}

#features {
    min-height: 500px;
}

#sign-up {
    min-height: 500px;
}

#sign-in {
    min-height: 500px;
}


/*.wyd-tabs md-content {*/
    /*background-color: transparent !important;*/
/*}*/

/*.wyd-tabs md-content md-tabs {*/
    /*background: #f6f6f6;*/
    /*border: 1px solid #e1e1e1;*/
/*}*/

/*.wyd-tabs md-content md-tabs md-tabs-wrapper {*/
    /*background: white;*/
/*}*/

.wyd-tabs {
    background-color: transparent !important;
}

.wyd-tabs md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1;
}

.wyd-tabs md-tabs md-tabs-wrapper {
    background: white;
}
