<md-content class="md-paddingx" xng-show="vm.uiState.isReady">

    <form name="form0" ng-show="vm.isStepOne">

        <div layout="column" layout-gt-sm="row" layout-padding layout-margin>
            <div flex class="md-whiteframe-1dp">
                <md-input-container class="md-block">
                    <label>From Customer</label>
                    <md-select name="fromCustomer" ng-required="true"
                               wyd-focus-on="fromCustomer"
                               ng-change="vm.onFromCustomer()"
                               ng-model="vm.model.fromCustomerId">
                        <md-option ng-value="0">&lt; Select Customer &gt;</md-option>
                        <md-option ng-repeat="item in vm.fromCustomers"
                                   ng-value="item.id">
                            {{item.firstName}} {{item.lastName}}
                        </md-option>
                    </md-select>
                    <div ng-messages="form0.fromCustomer.$error" role="alert">
                        <div ng-message="required">
                            This is required.
                        </div>
                    </div>
                </md-input-container>

                <div class="md-block">&nbsp;</div>

                <md-input-container class="md-block">
                    <label>Destination Currency</label>
                    <md-select name="dstCurrency" ng-required="true"
                               wyd-focus-on="dstCurrency"
                               ng-model="vm.model.dstCurrencyAccountId">
                        <md-option ng-value="0">&lt; Select Currency &gt;</md-option>
                        <md-option ng-repeat="item in vm.stocks"
                                   ng-value="item.id">
                            {{item.product.code}} - {{item.product.name}}
                        </md-option>
                    </md-select>
                    <div ng-messages="form0.dstCurrency.$error" role="alert">
                        <div ng-message="required">
                            This is required.
                        </div>
                    </div>
                </md-input-container>

                <div class="md-block">&nbsp;</div>

                <md-input-container class="md-block">
                    <label>Unit</label>
                    <input type="text" name="tranUnit" ng-required="true"
                           wyd-focus-on="tranUnit"
                           ng-change="vm.onTranUnit()"
                           ng-model="vm.model.tranUnit"
                           input-mask="'decimal'"
                           mask-option="{ allowMinus : false, 'groupSeparator' : ',', 'autoGroup': true, 'digits' : 2 }"/>
                    <div ng-messages="form0.tranUnit.$error" role="alert">
                        <div ng-message="required">
                            This is required.
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Rate</label>
                    <input type="text" name="tranRate" ng-required="true"
                           wyd-focus-on="tranRate"
                           ng-change="vm.onTranRate()"
                           ng-model="vm.model.tranRate"
                           ng-required="true"
                           input-mask="'decimal'"
                           mask-option="{ allowMinus : false, 'groupSeparator' : ',', 'autoGroup': true, 'digits' : 5 }">
                    <div ng-messages="form0.tranRate.$error" role="alert">
                        <div ng-message="required">
                            This is required.
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Profit Rate</label>
                    <input type="text" name="tranProfitRate"
                           wyd-focus-on="tranProfitRate"
                           ng-change="vm.onTranProfitRate()"
                           ng-model="vm.model.tranProfitRate"
                           ng-required="true"
                           input-mask="'decimal'"
                           mask-option="{ allowMinus : false, 'groupSeparator' : ',', 'autoGroup': true, 'digits' : 5 }">
                    <div ng-messages="form0.tranProfit.$error" role="alert">
                        <div ng-message="required">
                            This is required.
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Amount</label>
                    <input type="text" name="tranAmount" readonly
                           ng-model="vm.model.tranAmount"
                           input-mask="'decimal'"
                           mask-option="{ allowMinus : false, 'groupSeparator' : ',', 'autoGroup': true, 'digits' : 2 }">
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Profit Amount</label>
                    <input type="text" name="tranProfitAmount" readonly
                           ng-model="vm.model.tranProfitAmount"
                           input-mask="'decimal'"
                           mask-option="{ allowMinus : false, 'groupSeparator' : ',', 'autoGroup': true, 'digits' : 2 }">
                </md-input-container>

            </div>
            <div flex>
                <mdt-table table-card="{visible: true, title: 'Transfer To'}"
                           alternate-headers="'contextual'"
                           selectable-rows="true">
                    <mdt-header-row>
                        <mdt-column align-rule="left">Name</mdt-column>
                        <mdt-column align-rule="right">Amount</mdt-column>
                    </mdt-header-row>
                    <mdt-row ng-repeat="item in vm.model.transfers" table-row-id="item.id">
                        <mdt-cell>{{item.customer.firstName}}</mdt-cell>
                        <mdt-cell>{{item.amount}}</mdt-cell>
                    </mdt-row>
                </mdt-table>
                <div>&nbsp;</div>
                <div layout="column" layout-gt-sm="row">
                    <md-input-container flex-gt-sm="45">
                        <label>To Customer</label>
                        <md-select name="toCustomer" ng-required="true"
                                   wyd-focus-on="toCustomer"
                                   ng-model="vm.model.transferCustomerId">
                            <md-option ng-value="0">&lt; Select Customer &gt;</md-option>
                            <md-option ng-repeat="item in vm.toCustomers"
                                       ng-value="item.id">
                                {{item.firstName}}
                            </md-option>
                        </md-select>
                        <div ng-messages="form0.toCustomer.$error" role="alert">
                            <div ng-message="required">
                                This is required.
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container flex-gt-sm="40">
                        <label>Amount</label>
                        <input type="text" name="transferAmount"
                               wyd-focus-on="transferAmount"
                               ng-change="vm.onTransferAmount()"
                               ng-model="vm.model.transferAmount"
                               input-mask="'decimal'"
                               mask-option="{ allowMinus : false, 'groupSeparator' : ',', 'autoGroup': true, 'digits' : 2 }"/>
                        <div ng-messages="form0.transferAmount.$error" role="alert">
                            <div ng-message="required">
                                This is required.
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container flex-gt-sm="25">
                        <md-button class="md-raised md-primary"
                                   ng-click="vm.addToCustomer()">
                            Add
                        </md-button>
                    </md-input-container>
                </div>
            </div>
        </div>
        <div layout="row" layout-align="center center">
            <md-button class="md-raised md-primary"
                       ng-click="vm.proceedToStepTwo()">
                Proceed
            </md-button>
        </div>
    </form>

    <div ng-show="vm.isStepTwo">

        <div layout="column" layout-gt-sm="row" layout-margin>
            <div flex="50">
                <h3 class="md-title">Receipt Id : {{vm.model.id}}</h3>
                <div layout-padding>
                    <div layout="row">
                        <div flex="50">
                            Purchase From :
                        </div>
                        <div flex="50">
                            {{vm.model.fromCustomer.firstName}} {{vm.model.fromCustomer.lastName}}
                        </div>
                    </div>
                    <div layout="row">
                        <div flex="50">
                            Unit :
                        </div>
                        <div flex="50">
                            {{vm.model.tranUnit}}
                        </div>
                    </div>
                    <div layout="row">
                        <div flex="50">
                            Rate :
                        </div>
                        <div flex="50">
                            {{vm.model.tranRate}}
                        </div>
                    </div>
                    <div layout="row">
                        <div flex="50">
                            Profit Rate :
                        </div>
                        <div flex="50">
                            {{vm.model.tranProfitRate}}
                        </div>
                    </div>
                    <div layout="row">
                        <div flex="50">
                            Amount :
                        </div>
                        <div flex="50">
                            {{vm.model.tranAmountAbs}}
                        </div>
                    </div>
                    <div layout="row">
                        <div flex="50">
                            Profit Amount :
                        </div>
                        <div flex="50">
                            {{vm.model.tranProfitAmountAbs}}
                        </div>
                    </div>
                </div>
                <mdt-table table-card="{visible: true, title: 'Delivered To'}">
                    <mdt-header-row>
                        <mdt-column align-rule="left">Name</mdt-column>
                        <mdt-column align-rule="right">Amount</mdt-column>
                    </mdt-header-row>
                    <mdt-row ng-repeat="item in vm.model.transfers" table-row-id="item.id">
                        <mdt-cell>{{item.customer.firstName}}</mdt-cell>
                        <mdt-cell>{{item.amount}}</mdt-cell>
                    </mdt-row>
                </mdt-table>
                <div>&nbsp;</div>
                <div layout="column" layout-gt-xs="row" layout-align="center center">
                    <md-button class="md-raised"
                               ng-show="vm.model.id === 0"
                               ng-disabled="vm.uiState.isBlocked"
                               ng-click="vm.proceedToStepOne()">
                        Cancel
                    </md-button>
                    <md-button class="md-raised md-primary"
                               ng-show="vm.model.id === 0"
                               ng-disabled="vm.uiState.isBlocked"
                               ng-click="vm.execute()">
                        Execute
                    </md-button>
                    <md-button class="md-raised md-primary"
                               ng-show="vm.model.id != 0"
                               ng-click="vm.init()">
                        Ok
                    </md-button>
                </div>
            </div>
            <div flex="50">&nbsp;</div>
        </div>

    </div>

</md-content>
